.main {
  height: 30rem;
  width: 100%;
  padding: 2rem;
}
.main-hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
  background-size: 100%;
  background-position: center;
}
.main-iceland {
  background-image: url("../assets/Images/iceland.jpg");
  background-size: 100%;
  background-position: center;
}
.main-greece {
  background-image: url("../assets/Images/greece.jpg");
  background-size: 100%;
  background-position: center;
}
.main__title {
  padding-left: 2rem;
}
.articles {
  display: flex;
  justify-content: center;
}
.article {
  padding: 0 1em 1rem;
  margin: 0 1rem;
  background-color: white;
}
.article__title {
  border-bottom: 3px solid black;
  padding: 0 2rem;
  text-align: center;
}
.article__text {
  text-align: center;
  background-color: #fefaf5;
  padding: 1rem 0;
}
