/* universal selectors */
*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: verdana;
}
body {
  margin: 0;
  padding: 0;
}
/* header */
.header {
  position: sticky;
  top: 0;
  z-index: 1;
}
/* nav bar */
.top-nav__logo {
  margin-left: 3rem;
}
.top-nav__links {
  align-items: end;
  margin-right: 2rem;
}
.top-nav__title-link,
.top-nav__link {
  text-decoration: none;
  color: #335576;
}
.top-nav__list-item {
  list-style-type: none;
  display: inline-flex;
  padding: 0.5rem 1rem;
}
.top-nav__link {
  padding-bottom: 0.4rem;
}
.top-nav__link:hover {
  border-bottom: 3px solid #db7a4e;
}
.top-nav__link--active {
  border-bottom: 3px solid #db7a4e;
}
.top-nav {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
}
/* footer */
.footer {
  width: 100%;
  display: inline-flex;
  background-color: #fefaf5;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__title {
  color: #335576;
  margin-bottom: 0;
}
.footer__contact-sub-title,
.footer__days-of-the-week-days {
  color: #db7a4e;
  font-size: 0.8rem;
}
.footer__contact-link {
  text-decoration: none;
}
.footer__social-title {
  margin-bottom: 1rem;
}
.footer__days-of-the-week {
  display: flex;
}
.footer__days-of-the-week-time,
.footer__contact-link {
  color: #335576;
}
.footer__days-of-the-week-m-f,
.footer__days-of-the-week-sat {
  padding-right: 2rem;
}
.footer__image {
  padding: 0 1rem;
}
