*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: verdana;
}
body {
  margin: 0;
  padding: 0;
}
header {
  position: sticky;
  top: 0;
  z-index: 1;
}

.top-nav__logo {
  margin-left: 3rem;
}
.top-nav__links {
  align-items: end;
  margin-right: 2rem;
}
.top-nav__title-link {
  text-decoration: none;
  color: #335576;
}
.top-nav__list {
}
.top-nav__list-item {
  list-style-type: none;
  display: inline-flex;
  padding: 0.5rem 1rem;
}
.top-nav__link {
  text-decoration: none;
  color: #335576;
}
.top-nav__link:hover {
  border-bottom: 3px solid #db7a4e;
}
.top-nav__link--active {
  border-bottom: 3px solid #db7a4e;
}
.top-nav {
  display: flex;
  background-color: #ffffff;
  flex-direction: row;
  justify-content: space-between;
}

.footer {
  width: 100%;
  display: inline-flex;
  background-color: #fefaf5;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer__title {
  color: #335576;
}
.footer__contact-sub-title {
  color: #db7a4e;
}
.footer__contact-link {
  text-decoration: none;
  color: #335576;
}
.footer__hours-title {
  margin-bottom: 0;
}
.footer__days-of-the-week {
  display: flex;
}
.footer__days-of-the-week-days {
  color: #db7a4e;
}
.footer__days-of-the-week-time {
  color: #335576;
}
.footer__days-of-the-week-m-f {
  padding-right: 2rem;
}
.footer__days-of-the-week-sun {
  padding-left: 2rem;
}
.footer__social {
}

.footer__images {
}
.footer__image {
}
