/* hero section */
.hero {
  display: flex;
  background-color: #fefaf5;
  justify-content: space-around;
}
.hero__info {
  width: 40%;
  margin: 3rem 0 0 1rem;
}
.hero__title {
  color: #335576;
  font-size: 2rem;
}
.hero__image-container {
  width: 40%;
  margin: 2rem 0 3rem 1rem;
}
.hero__image {
  width: 90%;
}
.hero__text {
  padding-bottom: 2rem;
  color: #335576;
}
.hero__button {
  text-decoration: none;
  color: white;
  background-color: #db7a4e;
  padding: 1rem 2rem;
  border-radius: 35px;
}
/* main section */
.cards-container {
  display: flex;
  justify-content: center;
}
.main {
  margin: 3rem 0 4rem;
}
.main__title {
  padding-left: 4rem;
  color: #335576;
}
.main__card {
  display: flex;
  padding: 1rem;
  margin: 1rem;
  text-decoration: none;
  color: #ffffff;
  width: 20%;
  height: 21rem;
  justify-content: flex-end;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
}
.main__card:hover {
  border: 3px solid #db7a4e;
}
.main__card-hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
}
.main__card-iceland {
  background-image: url("../assets/Images/iceland.jpg");
}
.main__card-greece {
  background-image: url("../assets/Images/greece.jpg");
}
.main__card-name {
  margin: 0;
}
